#counterLabel {
	display: flex;
	justify-content: center;
}


#mainArea {
	border : solid 1px black;
	display: flex;
	justify-content: space-between;
}

#leftMenu{}

#leftMenu ul{
  list-style : none;
  text-align: center;
  padding : 0px;
  margin : 0px;
}

#leftMenu ul li{
  width : 150px;
  height : 200px;
  border : solid 1px black;
}


#socialMedia {
	width: 100%
}


.links {
	display: flex;
}

.box{
  border : solid 1px black;
  min-width : 300px;
  min-height : 300px;

  flex-grow : 1;
  
}